body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(180, 255, 179);
}

.Loading {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: white;
  box-shadow: 10px 10px 8px 10px #888888;
  margin: 0 auto;
  margin-top: 3%;
  padding: 7%;
  width: 50%;
  height: 75%;
  overflow: scroll;

}

#bigname-title {
  flex: 1;
  font-family: 'Syncopate', sans-serif;
  font-size: 73px;
  display:block;
  text-align: center;

}

#bigname-tag {
  display: block;
  font-size: 33px;
  text-align: center;
}

#searchBar {
  flex: 1;
  margin-top: 2%;
  border-radius: 20px;
  width: 50%;
  font-size: 16px;
  background-color: white;
  background-image: url('/search.png');
  background-position: 10px, 50%;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.searchBox {
  text-align: center;
}

.jobPost {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: #D6D4D4;
  margin: 3%;
  width: 300px;
  height: 300px;
  display: inline-grid;
  overflow: hidden;



}

.bigname {
  left: 50%;
  height: 25%;
}

#jobTitle {
  font-weight: bold;
  font-size: 20px;
  display: block;
}

#jobLocation {
  line-height: 1px;
}

#grow:hover
{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
