
input:focus {
    outline:none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(247, 249, 255);
}

.Loading {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: white;
  box-shadow: 10px 10px 8px 10px #888888;
  margin: 0 auto;
  margin-top: 3%;
  padding: 7%;
  width: 50%;
  height: 75%;
  overflow: scroll;

}

#bigname-title {
  flex: 1;
  color: rgb(106, 168, 106);
  font-family: 'Syncopate', sans-serif;
  font-size: 73px;
  display:block;
  text-align: center;

}

#bigname-tag {
  display: block;
  font-size: 33px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.search {
  flex: 1;
  margin-top: 2%;
  margin-right: 2%;
  border-radius: 15px;
  font-size: 16px;
  background-color: white;
  background-position: 10px, 50%;
  background-repeat: no-repeat;
  display: inline-block;

}

#searchBar {
  background-image: url('/search.png');
  padding: 12px 20px 12px 40px;
  width: 25%;
}

#locationBar {
  width: 15%;
  padding: 12px 20px 12px;
}



.searchBox {
  text-align: center;
}

.jobPost {
  font-family: 'Roboto', sans-serif;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: #D6D4D4;
  margin: 3%;
  width: 300px;
  height: 300px;
  display: inline-grid;
  overflow: hidden;
}


.bigname {
  left: 50%;
  height: 25%;
}

.jobTitle {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

#jobLocation {
  line-height: 1px;
}

#submitButton {
  background-color: rgb(106, 168, 106);
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#submitButton:hover {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#sorter {
  width: 150px;
  margin-right: 1%;
  font-size: 16px;
}

#grow:hover
{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
