
input:focus {
    outline:none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(247, 249, 255);
}

.Loading {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: white;
  box-shadow: 10px 10px 8px 10px #888888;
  margin: 0 auto;
  margin-top: 3%;
  padding: 7%;
  width: 50%;
  height: 75%;
  overflow: scroll;

}

#bigname-title {
  flex: 1;
  color: rgb(106, 168, 106);
  font-family: 'Syncopate', sans-serif;
  font-size: 73px;
  display:block;
  text-align: center;

}

#bigname-tag {
  display: block;
  font-size: 33px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.search {
  flex: 1;
  margin-top: 2%;
  margin-right: 2%;
  border-radius: 15px;
  font-size: 16px;
  background-color: white;
  background-position: 10px, 50%;
  background-repeat: no-repeat;
  display: inline-block;

}

#searchBar {
  background-image: url('/search.png');
  padding: 12px 20px 12px 40px;
  width: 25%;
}

#locationBar {
  width: 15%;
  padding: 12px 20px 12px;
}



.searchBox {
  text-align: center;
}

.jobPost {
  font-family: 'Roboto', sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: #D6D4D4;
  border-radius: 20px;
  margin: 3%;
  width: 350px;
  height: 350px;
  display: inline-grid;
  overflow: hidden;
}

.jobPostText {
  width: 250px;
  height: 300px;
  margin: auto auto;
  text-align: left;
}

.jobTitle {
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.jobCompany {
  font-size: 20px;
}

.bigname {
  left: 50%;
  height: 25%;
}



#jobLocation {
  line-height: 1px;
}

#submitButton {
  background-color: rgb(106, 168, 106);
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#submitButton:hover {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.sortButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin-left: 1%;
  margin-top: 1%;
}
.sortButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.sortButton:active {
	position:relative;
	top:1px;
}

button:focus {outline:0;}


#grow:hover
{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: rgb(250, 250, 250);
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-num {
  display: inline;

}

.page-link {
  display: inline-block;
  background-color: rgb(235, 235, 235);
  color: black;
  border-color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  margin-right: 1%;
}

.page-link-active {
  display: inline-block;
  background-color: rgb(106, 168, 106);
  color: black;
  border-color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  margin-right: 1%;
}

.page-link:hover {
  background-color: rgb(106, 168, 106);

}

.active {
  background-color: rgb(106, 168, 106);

}
